---
layout: layout.liquid
title: Explorer's Blog Home
---

<h1>Explorer's Blog</h1>
<h2>Welcome! Join me as I reveal the secrets of exploring distant worlds and stars in our galaxy.</h2>

<section>
  <h3>Latest Blog Posts:</h3>
  <ul>
    <li><a href="/post_1/" title="Blog#1">#1: Embarking on the Stars: Revealing Interstellar Vehicles</a></li>
    <li><a href="/post_2/" title="Blog#2">#2: Discovering Galactic Personalities: The Unique Traits of Three Stars</a></li>
  </ul>
</section>

<img class="about" alt="pine" src="/images/pine.png" width="50" />
{% user 'joannacfc' %}